<!--
    Date of creation: 5/07/2021
    Based on application created by: Ricardo Tellez <rtellez@theconstructsim.com>
    Alterations by: Harvey Merton <hmer101@aucklanduni.ac.nz>
    The Construct http://www.theconstructsim.com
    License LGPLV3
-->

<launch>
    <!-- Launch simulator or physical system (Do first and separately) -->
    <!-- <include file="$(find fssim_interface)/launch/fssim.launch" /> -->

    <!-- Load the parameters for the algorithm -->
    <rosparam command="load" file="$(find fsd_rl)/config/airl_params.yaml" />

    <!-- Launch a file currently testing -->
    <!--<node pkg="fsd_rl" name="gym_train_fsd" type="main_test.py" output="screen"/>-->
    <node pkg="fsd_rl" name="gym_train_fsd" type="NEAT.py" output="screen"/>
</launch>
